@model List<Movie>
@{
    ViewBag.Title = "My Movies";
}

<h2>Movie Lists</h2>
<a asp-controller="movie" asp-action="Add">Add a new Movie</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Title</th><th>Year</th><th>Rating</th><th>Description</th><th>Runtime</th><th>Actors</th><th>Genres</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Year</td>
            <td>@movie.Rating</td>
            <td>@movie.Description</td>
            <td>@movie.Runtime</td>
            <td>@movie.Actors</td>
            <td>@movie.ListsID</td>
            <td>
                <a asp-controller="movie" asp-action="Edit"
                   asp-route-id="@movie.MovieId"
                   asp-route-slug="@movie.Slug">Edit</a>
                <a asp-controller="movie" asp-action="Delete"
                   asp-route-id="@movie.MovieId"
                   asp-route-slug="@movie.Slug">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>